{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}Minha Aplicação{{end}}</title>

    <!-- TailwindCSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- HTMX -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org"></script>

    <!-- JavaScript da aplicação -->
    <script type="module" src="/src/main.js"></script>
</head>
<body class="bg-gray-100">
    <!-- Cabeçalho -->
    {{template "header" .}}

    <!-- Conteúdo dinâmico -->
    <div id="content" class="container mx-auto p-4">
        {{block "content" .}}{{end}}
    </div>

    <!-- Rodapé -->
    {{template "footer" .}}
</body>
</html>
{{end}}

<script>
   // Função para exibir um toast
    function exibirToast(mensagem) {
        const toast = document.createElement("div");
        toast.className = "toast bg-green-500 text-white px-4 py-2 rounded fixed bottom-4 right-4";
        toast.innerText = mensagem;

        document.body.appendChild(toast);

        setTimeout(() => {
            toast.remove();
        }, 3000); // Remove o toast após 3 segundos
    }

    document.addEventListener("htmx:afterRequest", function (evt) {
        if (evt.detail.requestConfig.triggerEvent === "itemAdicionado") {
            alert("Produto adicionado ao carrinho com sucesso!");
        }
    });

    // Captura o evento disparado pelo HTMX
    document.addEventListener("htmx:trigger", function (evt) {
        console.log("aqui")
        if (evt.detail.name === "checkoutConcluido") {
            exibirToast("Pedido concluído com sucesso!");
        }
    });    
</script>

<style>
    /* Estilo para o toast */
    .toast {
        animation: fade-in 0.5s;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>