{{define "content"}}
    <div class="container mx-auto">
        <h1 class="text-2xl font-bold">Lista de Produtos</h1>
        <ul>
            {{range .}}
            <li>
                <h2>{{.Name}}</h2>
                <p>{{.Description}}</p>
                <p>Preço: {{.Price}}</p>
                 <a href="/product/{{.ID}}" class="bg-blue-600 text-white px-4 py-2 rounded" hx-get="/product/{{.ID}}" hx-target="#content" hx-swap="innerHTML">Ver detalhes</a>
                <form hx-post="/cart/add/{{.ID}}" hx-target="#mensagem-{{.ID}}" hx-swap="innerHTML" class="inline-block mt-2">
                    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Adicionar</button>
                </form>
                <div id="mensagem-{{.ID}}" class="mt-2 text-green-600"></div>
            </li>
            {{end}}
        </ul>
    </div>
{{end}}